*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    margin-bottom: 30px;
    .headerTitle{
        font-family: 'Martian Mono', monospace;
        color: white;
    }
    .inputWrapper{
        position: relative;
        .searchImage{
            border: 0px;
            border-radius: 7px;
            width: 200px;
            height: 30px;
            padding: 4px;
        }
        .crossImageButton{
            position: absolute;
            border: 0px;
            background-color: aliceblue;
            right: 40px;
            top: 2px;
            width: 30px;
            height: 36px;
            cursor: pointer;
            display: block;
        }
        .crossImageButtonClosed{
            display: none;
        }
        .searchImageButton{
            position: absolute;
            border: 0px;
            background-color: aliceblue;
            right: 5px;
            top: 2px;
            width: 30px;
            height: 36px;
            cursor: pointer;
            
        }.loop{
                width: 17px;
                height: 17px;
                   
            }
    }
}
.main{
    height: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 30px;
    .galleryImage{
        width: 400px;
        height: 300px;
        object-fit: cover;
    }
}